mat-icon{
    border: 0;
    color:gainsboro;
}
.right{
    position: absolute;
    right: 0;
    margin-right: 4rem;
}
img{
    margin-left: 2rem;
    width: auto;
    height: 3rem;
}
nav{
    background-color: black !important;
}