<div class="bg-dark text-white fixed margin-top" id="nav1">
  <ul>
    <li>
      <a href="" class="text-white"
        ><i class="far fa-lightbulb" aria-hidden="true"></i>
        <span class="ml-4">Notes</span></a
      >
    </li>
    <li>
      <a href="" class="text-white"
        ><i class="far fa-bell" aria-hidden="true"></i
        ><span class="ml-3"> Reminders</span></a
      >
    </li>
    <li>
      <a href="" class="text-white"
        ><i class="far fa-edit"></i><span class="ml-3"> Edit Lable</span></a
      >
    </li>
    <li>
      <a href="" class="text-white"
        ><i class="fas fa-file-download"></i
        ><span class="ml-3"> Archive</span></a
      >
    </li>
    <li>
      <a href="" class="text-white"
        ><i class="far fa-trash-alt"></i><span class="ml-3"> Trash</span></a
      >
    </li>
  </ul>
</div>
