<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-dark">
  <a type="button"
    ><i class="fa fa-bars text-white mr-2" aria-hidden="true"></i
  ></a>
  <img
    src="https://www.gstatic.com/images/branding/product/1x/keep_2020q4_48dp.png"
    alt="logo"
  />
  <h2 class="navbar-brand text-white mr-5" href="#">Keep</h2>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0">
      <div class="form-group has-search">
        <span class="fa fa-search form-control-feedback"></span>
        <input
          type="text"
          class="form-control search-input"
          placeholder="Search"
        />
      </div>
      <div class="div-icons">
        <i class="fa fa-cog icon-padding" aria-hidden="true"></i>
        <i class="fa fa-retweet icon-padding" aria-hidden="true"></i>
        <i class="fa fa-list icon-padding" aria-hidden="true"></i>
      </div>
    </form>
  </div>
</nav>
