<!--** Footer -->
<footer class="footer">
  <span style="color: white">
    <i class="fab fa-facebook" style="margin-right: 2rem"></i
  ></span>
  <span style="color: white">
    <i class="fab fa-twitter" style="margin-right: 2rem" aria-hidden="true"></i
  ></span>
  <span style="color: white">
    <i
      class="fab fa-google-plus"
      style="margin-right: 2rem"
      aria-hidden="true"
    ></i
  ></span>
  <span style="color: white">
    <i class="fab fa-linkedin" style="margin-right: 2rem" aria-hidden="true"></i
  ></span>
  <span style="color: white">
    <i
      class="fab fa-instagram"
      style="margin-right: 2rem"
      aria-hidden="true"
    ></i></span
  ><br />
  <br />
  <p>
    Copyright &copy;
    <script>
      document.write(new Date().getFullYear());
    </script>
    Gaurav Kumar All Rights Reserved
  </p>
</footer>
