<div class="container-fluid">
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Navbar</a>
      <div class="text-right">
        <a class="text-white" style="text-decoration: none" routerLink="/login"
          >Login</a
        >
        <a
          class="text-white"
          style="text-decoration: none"
          routerLink="/register"
        >
          Register</a
        >
        <a class="text-white" style="text-decoration: none" (click)="logOut()">
          logout</a
        >
      </div>
    </div>
  </nav>
</div>
